In [2]:
import os
import pandas as pd

# Set the path to the folder containing .txt files
folder_path = 'aggTrade'  # ← Change this to your folder path

# Loop through all files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith(".txt"):
        txt_path = os.path.join(folder_path, filename)
        csv_path = os.path.join(folder_path, filename.replace(".txt", ".csv"))
        
        try:
            # Read the .txt as CSV
            df = pd.read_csv(txt_path)
            # Save it as .csv
            df.to_csv(csv_path, index=False)
            print(f"Converted: {filename} → {os.path.basename(csv_path)}")
        except Exception as e:
            print(f"Failed to convert {filename}: {e}")

# Merge all .csv files
merged_df = pd.DataFrame()
for filename in os.listdir(folder_path):
    if filename.endswith(".csv"):
        csv_path = os.path.join(folder_path, filename)
        try:
            df = pd.read_csv(csv_path)
            merged_df = pd.concat([merged_df, df], ignore_index=True)
        except Exception as e:
            print(f"Failed to read {filename}: {e}")

# Save the merged CSV
merged_path = os.path.join(folder_path, "aggTrade-tot.csv")
merged_df.to_csv(merged_path, index=False)
print(f"\n✅ All CSVs merged into: {merged_path}")

Converted: BNBFDUSD_20250314.txt → BNBFDUSD_20250314.csv
Converted: BNBFDUSD_20250315.txt → BNBFDUSD_20250315.csv
Converted: BNBFDUSD_20250316.txt → BNBFDUSD_20250316.csv
Converted: BNBFDUSD_20250317.txt → BNBFDUSD_20250317.csv

✅ All CSVs merged into: aggTrade\aggTrade-tot.csv

In [1]:
import os
import pandas as pd

# Set the path to the folder containing .txt files
folder_path = 'depth20_1000ms'  # ← Change this to your folder path

# Loop through all files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith(".txt"):
        txt_path = os.path.join(folder_path, filename)
        csv_path = os.path.join(folder_path, filename.replace(".txt", ".csv"))
        
        try:
            # Read the .txt as CSV
            df = pd.read_csv(txt_path)
            # Save it as .csv
            df.to_csv(csv_path, index=False)
            print(f"Converted: {filename} → {os.path.basename(csv_path)}")
        except Exception as e:
            print(f"Failed to convert {filename}: {e}")

# Merge all .csv files
merged_df = pd.DataFrame()
for filename in os.listdir(folder_path):
    if filename.endswith(".csv"):
        csv_path = os.path.join(folder_path, filename)
        try:
            df = pd.read_csv(csv_path)
            merged_df = pd.concat([merged_df, df], ignore_index=True)
        except Exception as e:
            print(f"Failed to read {filename}: {e}")

# Save the merged CSV
merged_path = os.path.join(folder_path, "depth20_1000ms.csv")
merged_df.to_csv(merged_path, index=False)
print(f"\n✅ All CSVs merged into: {merged_path}")

Converted: BNBFDUSD_20250314.txt → BNBFDUSD_20250314.csv
Converted: BNBFDUSD_20250315.txt → BNBFDUSD_20250315.csv
Converted: BNBFDUSD_20250316.txt → BNBFDUSD_20250316.csv
Converted: BNBFDUSD_20250317.txt → BNBFDUSD_20250317.csv

✅ All CSVs merged into: depth20_1000ms\depth20_1000ms.csv

In [10]:
import pandas as pd

df1 = pd.read_csv("aggTrade/aggTrade-tot.csv")
df1.columns

Index(['Time', 'Price', 'Quantity', 'IsMarketMaker', 'NumTrades', 'M'], dtype='object')

In [11]:
df1.head(5)

,Time,Price,Quantity,IsMarketMaker,NumTrades,M
0,2025-03-14 00:00:02.764823793 +0530 IST,579.41,0.496,True,1,True
1,2025-03-14 00:00:02.781509697 +0530 IST,579.38,0.013,True,1,True
2,2025-03-14 00:00:02.8057318 +0530 IST,579.38,0.104,True,1,True
3,2025-03-14 00:00:03.902576812 +0530 IST,579.34,0.496,True,1,True
4,2025-03-14 00:00:03.905083833 +0530 IST,579.32,2.739,True,2,True

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 933417 entries, 0 to 933416
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Time           933417 non-null  object
 1   Price          933417 non-null  float64
 2   Quantity       933417 non-null  float64
 3   IsMarketMaker  933417 non-null  bool
 4   NumTrades      933417 non-null  int64
 5   M              933417 non-null  bool
dtypes: bool(2), float64(2), int64(1), object(1)
memory usage: 30.3+ MB

In [12]:
import pandas as pd

df2 = pd.read_csv("depth20_1000ms/depth20_1000ms.csv")
df2.columns

Index(['Time', 'BidPriceL20', 'BidQtyL20', 'BidPriceL19', 'BidQtyL19',
       'BidPriceL18', 'BidQtyL18', 'BidPriceL17', 'BidQtyL17', 'BidPriceL16',
       'BidQtyL16', 'BidPriceL15', 'BidQtyL15', 'BidPriceL14', 'BidQtyL14',
       'BidPriceL13', 'BidQtyL13', 'BidPriceL12', 'BidQtyL12', 'BidPriceL11',
       'BidQtyL11', 'BidPriceL10', 'BidQtyL10', 'BidPriceL9', 'BidQtyL9',
       'BidPriceL8', 'BidQtyL8', 'BidPriceL7', 'BidQtyL7', 'BidPriceL6',
       'BidQtyL6', 'BidPriceL5', 'BidQtyL5', 'BidPriceL4', 'BidQtyL4',
       'BidPriceL3', 'BidQtyL3', 'BidPriceL2', 'BidQtyL2', 'BidPriceL1',
       'BidQtyL1', 'AskPriceL1', 'AskQtyL1', 'AskPriceL2', 'AskQtyL2',
       'AskPriceL3', 'AskQtyL3', 'AskPriceL4', 'AskQtyL4', 'AskPriceL5',
       'AskQtyL5', 'AskPriceL6', 'AskQtyL6', 'AskPriceL7', 'AskQtyL7',
       'AskPriceL8', 'AskQtyL8', 'AskPriceL9', 'AskQtyL9', 'AskPriceL10',
       'AskQtyL10', 'AskPriceL11', 'AskQtyL11', 'AskPriceL12', 'AskQtyL12',
       'AskPriceL13', 'AskQtyL13', 'AskPriceL14', 'AskQtyL14', 'AskPriceL15',
       'AskQtyL15', 'AskPriceL16', 'AskQtyL16', 'AskPriceL17', 'AskQtyL17',
       'AskPriceL18', 'AskQtyL18', 'AskPriceL19', 'AskQtyL19', 'AskPriceL20',
       'AskQtyL20'],
      dtype='object')

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508791 entries, 0 to 508790
Data columns (total 81 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Time         508791 non-null  object
 1   BidPriceL20  508791 non-null  float64
 2   BidQtyL20    508791 non-null  float64
 3   BidPriceL19  508791 non-null  float64
 4   BidQtyL19    508791 non-null  float64
 5   BidPriceL18  508791 non-null  float64
 6   BidQtyL18    508791 non-null  float64
 7   BidPriceL17  508791 non-null  float64
 8   BidQtyL17    508791 non-null  float64
 9   BidPriceL16  508791 non-null  float64
 10  BidQtyL16    508791 non-null  float64
 11  BidPriceL15  508791 non-null  float64
 12  BidQtyL15    508791 non-null  float64
 13  BidPriceL14  508791 non-null  float64
 14  BidQtyL14    508791 non-null  float64
 15  BidPriceL13  508791 non-null  float64
 16  BidQtyL13    508791 non-null  float64
 17  BidPriceL12  508791 non-null  float64
 18  BidQtyL12    508791 non-null  float64
 19  BidPriceL11  508791 non-null  float64
 20  BidQtyL11    508791 non-null  float64
 21  BidPriceL10  508791 non-null  float64
 22  BidQtyL10    508791 non-null  float64
 23  BidPriceL9   508791 non-null  float64
 24  BidQtyL9     508791 non-null  float64
 25  BidPriceL8   508791 non-null  float64
 26  BidQtyL8     508791 non-null  float64
 27  BidPriceL7   508791 non-null  float64
 28  BidQtyL7     508791 non-null  float64
 29  BidPriceL6   508791 non-null  float64
 30  BidQtyL6     508791 non-null  float64
 31  BidPriceL5   508791 non-null  float64
 32  BidQtyL5     508791 non-null  float64
 33  BidPriceL4   508791 non-null  float64
 34  BidQtyL4     508791 non-null  float64
 35  BidPriceL3   508791 non-null  float64
 36  BidQtyL3     508791 non-null  float64
 37  BidPriceL2   508791 non-null  float64
 38  BidQtyL2     508791 non-null  float64
 39  BidPriceL1   508791 non-null  float64
 40  BidQtyL1     508791 non-null  float64
 41  AskPriceL1   508791 non-null  float64
 42  AskQtyL1     508791 non-null  float64
 43  AskPriceL2   508791 non-null  float64
 44  AskQtyL2     508791 non-null  float64
 45  AskPriceL3   508791 non-null  float64
 46  AskQtyL3     508791 non-null  float64
 47  AskPriceL4   508791 non-null  float64
 48  AskQtyL4     508791 non-null  float64
 49  AskPriceL5   508791 non-null  float64
 50  AskQtyL5     508791 non-null  float64
 51  AskPriceL6   508791 non-null  float64
 52  AskQtyL6     508791 non-null  float64
 53  AskPriceL7   508791 non-null  float64
 54  AskQtyL7     508791 non-null  float64
 55  AskPriceL8   508791 non-null  float64
 56  AskQtyL8     508791 non-null  float64
 57  AskPriceL9   508791 non-null  float64
 58  AskQtyL9     508791 non-null  float64
 59  AskPriceL10  508791 non-null  float64
 60  AskQtyL10    508791 non-null  float64
 61  AskPriceL11  508791 non-null  float64
 62  AskQtyL11    508791 non-null  float64
 63  AskPriceL12  508791 non-null  float64
 64  AskQtyL12    508791 non-null  float64
 65  AskPriceL13  508791 non-null  float64
 66  AskQtyL13    508791 non-null  float64
 67  AskPriceL14  508791 non-null  float64
 68  AskQtyL14    508791 non-null  float64
 69  AskPriceL15  508791 non-null  float64
 70  AskQtyL15    508791 non-null  float64
 71  AskPriceL16  508791 non-null  float64
 72  AskQtyL16    508791 non-null  float64
 73  AskPriceL17  508791 non-null  float64
 74  AskQtyL17    508791 non-null  float64
 75  AskPriceL18  508791 non-null  float64
 76  AskQtyL18    508791 non-null  float64
 77  AskPriceL19  508791 non-null  float64
 78  AskQtyL19    508791 non-null  float64
 79  AskPriceL20  508791 non-null  float64
 80  AskQtyL20    508791 non-null  float64
dtypes: float64(80), object(1)
memory usage: 314.4+ MB

In [13]:
df2.head(5)

,Time,BidPriceL20,BidQtyL20,BidPriceL19,BidQtyL19,BidPriceL18,BidQtyL18,BidPriceL17,BidQtyL17,BidPriceL16,...,AskPriceL16,AskQtyL16,AskPriceL17,AskQtyL17,AskPriceL18,AskQtyL18,AskPriceL19,AskQtyL19,AskPriceL20,AskQtyL20
0,2025-03-14 00:00:02.292522546 +0530 IST,579.20,0.621,579.24,0.015,579.25,0.009,579.26,0.013,579.27,...,579.67,1.151,579.68,0.043,579.69,1.258,579.70,0.911,579.71,2.025
1,2025-03-14 00:00:03.292828523 +0530 IST,579.08,2.612,579.09,8.606,579.10,3.453,579.11,3.825,579.12,...,579.59,0.971,579.60,5.071,579.61,4.894,579.62,1.017,579.63,0.048
2,2025-03-14 00:00:04.292889586 +0530 IST,579.14,1.948,579.15,3.957,579.18,1.681,579.19,3.465,579.20,...,579.62,1.017,579.63,0.048,579.64,9.720,579.65,2.025,579.66,0.365
3,2025-03-14 00:00:05.292551566 +0530 IST,579.07,0.013,579.08,0.013,579.09,8.606,579.10,3.453,579.11,...,579.56,0.024,579.57,1.926,579.58,2.127,579.59,0.279,579.60,7.213
4,2025-03-14 00:00:06.292725093 +0530 IST,579.11,9.143,579.12,6.361,579.13,5.837,579.14,2.816,579.15,...,579.56,0.024,579.57,1.926,579.58,2.127,579.59,0.279,579.60,10.469